<div class="row">
    <div class="col-lg-6">
		<div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Search</strong>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-submit="search()">
                    <div class="form-group">
                        <label for="docname" class="col-sm-3 control-label">Document Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="docname" name="docname" placeholder="Document Name" ng-model="searchstr">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-default">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
	</div>
		
	<div class="col-lg-6">
		<div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Status</strong>
            </div>
            <div class="panel-body">
                
            </div>
        </div>
    </div>
</div>