body
{
	font-family: Arial;
	font-size: 12px;
}

.panel-primary
{
	border-color: #69A52D;
}

.panel-primary>.panel-heading
{
	border-color: #69A52D;
	background-color: #69A52D;
}

.panel-heading
{
	font-size: 14px;
}